body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 20px;
  background-color: #FAEED1;
  top: 0;
  left: 0;
  right: 0;
}

.header-tagname {
  justify-self: start;
}

.header-option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-option a {
  margin-left: 20px;
}

.header-button {
  justify-self: end;
}

a {
  text-decoration: none;
  color: #776B5D;
}

.tagname {
  font-size: 30px;
  font-weight: bold;
}

.home, .about, .blog, .contact, .page {
  font-size: 15px;
  font-weight: bold;
}

.shop, .login, .register {
  background-color: #FAEED1;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
  padding: 5px 10px;
}

button:hover {
  background-color: #776B5D;
  color: #FAEED1;
}

.main-box {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: #5e350b;
  gap: 10px;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.image-left img,
.image-right img,
.image-right-bottom img {
  max-width: 100%;
  height: auto;
}

.pic2 {
  width: 98.5%;
  height: 150px;
}

.pic3, .pic4 {
  width: 49%;
  height: 150px;
}

.image-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.cat1 {
  position: absolute;
  top: 150px;
  left: 150px;
  font-size: 35px;
}

.cat1-readmore {
  position: absolute;
  top: 220px;
  left: 160px;
}

.cat2 {
  position: absolute;
  top: 500px;
  right: 160px;
  font-size: 35px;
}

.cat2-readmore {
  position: absolute;
  top: 570px;
  right: 160px;
}

.cat3 {
  position: absolute;
  top: 680px;
  right: 160px;
  font-size: 20px;
}

.cat3-readmore {
  position: absolute;
  top: 720px;
  right: 185px;
  font-size: 10px;
}


@media screen and (max-width: 600px) {
  .header {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  
  .header-tagname {
    justify-self: center;
  }
  
  .header-option {
    justify-content: center;
    margin-top: 10px;
  }

  .header-option a {
    margin: 0 10px;
  }

  .header-button {
    justify-self: center;
  }

  .main-box {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}
