body {
  margin: 0;
  margin: auto;
}
nav {
  background-color: #FAEED1;
  padding: 20px;
  padding: auto;
  border-radius: 10px;
}

.tagname {
  margin-right: 200px;
  margin-left: 20px;
  font-size: 30px;
  text-decoration: none;
  color: #776B5D;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
  margin: auto;
  margin-right: 10px;
}

.home {
  color: #776B5D;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
}

.shop {
  color: #776B5D;
  background-color: #FAEED1;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
}

.about {
  color: #776B5D;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
}

.blog {
  color: #776B5D;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
}

.contact {
  color: #776B5D;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
}

.page {
  color: #776B5D;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 550px;
}

.login {
  color: #776B5D;
  background-color: #FAEED1;
  border: none;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  background-color: #776B5D;
  color: #FAEED1;
}

.register {
  color: #776B5D;
  background-color: #FAEED1;
  border: none;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.main-box {
  width: 1155px;
  height: 550px;
  margin: 35px 200px;
  display: grid;
  grid-template-columns: 400px 750px;
  column-gap: 10px;
  row-gap: 10px;
}

.image-left {
  padding-top: 10px;
  position: relative;
}

.image-right {
  display: grid;
  position: relative;
}

.image-right-bottom {
  position: relative;
}

.pic {
  width: 400px;
  height: 550px;
  border-radius: 30px;
}

.pic2 {
  width: 750px;
  height: 275px;
  border-radius: 30px;
}

.pic3, .pic4 {
  width: 373px;
  height: 270px;
  border-radius: 30px;
}

.cat1 {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: 	#5e350b;
}

.cat1-readmore {
  position: absolute;
  right: 10px;
  top: 80px;
  color: 	#5e350b;
  font-weight: bold;
}

.cat2 {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: 		#f4e5bb;
}

.cat2-readmore {
  position: absolute;
  right: 10px;
  top: 80px;
  color: 		#f4e5bb;
  font-weight: bold;
}

.cat3 {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: 		#5e350b;
}

.cat3-readmore {
  position: absolute;
  left: 10px;
  top: 80px;
  color: 		#5e350b;
  font-weight: bold;
}

.cat4 {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: 	#d5b38f;
}

.cat4-readmore {
  position: absolute;
  right: 10px;
  top: 80px;
  color: 	#d5b38f;
  font-weight: bold;
}